* {
  margin: 0;
  padding: 0;
}
.headContainer {
  background-color: darkcyan;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
}

.logo {
  color: white;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.btn {
  background-color: transparent;
  margin-right: 20px;
  outline: none;
  color: white;
  padding: 6px;
  text-decoration: none;
  font-size: larger;
}
